table {
  border-collapse: collapse;
}
table thead tr {background-color: rgba(255, 255, 255, 0.9);}
table tbody tr:nth-child(even) {background-color: rgba(255, 255, 255, 0.8);}
table tbody tr:nth-child(odd) {background-color: rgba(225, 225, 225, 0.8);}
table tbody tr:nth-child(even):hover {background-color: rgba(255, 225, 225, 0.8);}
table tbody tr:nth-child(odd):hover {background-color: rgba(225, 195, 195, 0.8);}



.contractors-table {width: 100%; margin: 20px 0 0;}
.contractors-table tr {border: 2px solid black;}
.contractors-table td, .contractors-table th {border: 1px solid black; padding: 5px; white-space: nowrap;}
/*.contractors-table td:nth-child(3) {width:100%;}*/
.contractors-table th {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
.contractors-table td {text-align: center;}
.contractors-table td:nth-child(7) {
  width: 50px;
  padding: 0;
  text-align: center;
}



.users-table {width: 100%; margin: 20px 0 0;}
.users-table tr {border: 2px solid black;}
.users-table td, .users-table th {border: 1px solid black; padding: 5px; white-space: nowrap;}
/*.users-table td:nth-child(4) {width:100%;}*/
.users-table th {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
/*.users-table td:nth-child(1), .users-table td:nth-child(2) {text-align: center;}*/
.users-table td {text-align: center;}
.users-table td:nth-child(8) {
  width: 50px;
  padding: 0;
  text-align: center;
}



.staff-table {width: 100%; margin: 20px 0 0;}
.staff-table tr {border: 2px solid black;}
.staff-table td, .staff-table th {border: 1px solid black; padding: 5px; white-space: nowrap;}
/*.staff-table td:nth-child(5) {width:100%;}*/
.staff-table th {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
.staff-table td {text-align: center;}
/*.staff-table td:nth-child(1), .staff-table td:nth-child(2) {text-align: center;}*/
.staff-table td:nth-child(6) {
  width: 50px;
  padding: 0;
  text-align: center;
}



.pricelists-sources-table {width: 100%; margin: 20px 0 0;}
.pricelists-sources-table tr {border: 2px solid black;}
.pricelists-sources-table td, .pricelists-sources-table th {border: 1px solid black; padding: 5px; white-space: nowrap;}
/*.pricelists-sources-table td:nth-child(5) {width:100%;}*/
.pricelists-sources-table th {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
.pricelists-sources-table td {text-align: center;}
.pricelists-sources-table td:nth-child(6) {
  width: 50px;
  padding: 0;
  text-align: center;
}



.pricelists-import-table {width: 100%; margin: 20px 0 0;}
.pricelists-import-table tr {border: 2px solid black;}
.pricelists-import-table td, .pricelists-import-table th {border: 1px solid black; padding: 5px; white-space: nowrap;}
/*.pricelists-import-table td:nth-child(4) {width:100%;}*/
.pricelists-import-table th {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
.pricelists-import-table td {text-align: center;}
.pricelists-import-table td:nth-child(8) {
  width: 50px;
  padding: 0;
  text-align: center;
}



.pricelists-import-item-table {
  font-size: 12px;
  width: 100%;
  margin: 0 0 -12px;
}
.pricelists-import-item-table tr {border: 2px solid black;}
.pricelists-import-item-table td, .pricelists-import-item-table th {border: 1px solid black; padding: 4px; white-space: nowrap;}
/*.pricelists-import-table td:nth-child(4) {width:100%;}*/
.pricelists-import-item-table th {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
.pricelists-import-item-table td {text-align: center;}
.pricelists-import-item-table td:nth-child(7) {
  width: 40px;
  padding: 0;
  text-align: center;
}



.pricelists-export-table {width: 100%; margin: 20px 0 0;}
.pricelists-export-table tr {border: 2px solid black;}
.pricelists-export-table td, .pricelists-export-table th {border: 1px solid black; padding: 5px; white-space: nowrap;}
/*.pricelists-export-table td:nth-child(4) {width:100%;}*/
.pricelists-export-table th {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}
.pricelists-export-table td {text-align: center;}
.pricelists-export-table td:nth-child(8) {
  width: 50px;
  padding: 0;
  text-align: center;
}